.App {
  background-color: lightblue;
  /* border: 20px solid black; */

  display: grid;
  grid-template-rows: 20% 10% 60% 10%;
  grid-template-areas:
    "header header"
    "nav nav"
    "main main"
    "footer footer";
}

h1 {
  font-size: 30px;
}

.login {
  border: 2px solid;
  background-color: grey;
  grid-area: login;
}

.header {
  border: 2px solid;
  grid-area: header;
  text-align: center;
}

.topic-cat {
  color: grey;
  background-color: pink;
  grid-area: topic;
}

/* unvisited link */

a {
  text-decoration: none;
}

a:link {
  color: hotpink;
}

/* visited link */
a:visited {
  color: hotpink;
}

/* mouse over link */
a:hover {
  color: purple;
}

/* selected link */
a:active {
  color: blue;
}

.nav {
  border: black 2px solid;
  background-color: black;
  color: white;
  grid-area: nav;
  text-align: center;
}

.articles {
  border: 4px solid black;
  width: 70%;
  display: block;
  border-radius: 15px;
  grid-area: main;
  background-color: white;
  padding: 10px;
  margin: 10px;
}

.one-article {
  width: 70%;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 10% 10% 60% 20%;
  grid-template:
    "votes meta ."
    "votes title ."
    ". body ."
    ". comments .";
  background-color: white;
  padding: 10px;
  margin: 10px;
}

.article-stub {
  background-color: white;
  display: grid;
  grid-template-columns: 20% 50% 20%;
  grid-template-rows: 10% 10% 60% 20%;
  grid-template:
    "votes meta topic"
    "votes title ."
    ". body ."
    ". comments .";
}

.article-comments {
  grid-area: comments;
}

.article-body {
  text-align: justify;
  padding: 10px 50px;
  background-color: white;
  width: 70%;
  margin: auto;
  grid-area: body;
}

.article-title {
  display: inline-block;
  font-size: 22px;
  vertical-align: top;
  background-color: white;
  width: 70%;
  margin: auto;
  grid-area: title;
}

.comments {
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  background-color: white;
}

.postarticle {
  background-color: white;
  padding: 10px;
  margin: 20px;
  border: 4px solid black;
  width: 50%;
  height: 300px;
  display: inline-block;
  border-radius: 30px;
}
.meta-info {
  background-color: white;
  color: grey;
  text-align: right;
  grid-area: meta;
  font-style: italic;
  padding: 0px 8px;
}
.select-button {
  padding: 10px;
  margin: 10px;
}

.votes {
  width: 20px;
  height: 5px;
  padding: 10px 10px;
  margin: 10px;
  grid-area: votes;
}

.submit-button {
  background-color: hotpink;
  height: 20px;
  width: 100px;
  border-radius: 5px;
}

.title-input {
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
  width: 300px;
}

.body-input {
  border-radius: 10px;
  height: 100px;
  width: 300px;
  padding: 10px;
}
.userprofile {
  background-color: white;
  border-radius: 15px;
  border: 4px solid black;
  margin: 20px;
  padding: 20px;

  width: 60%;
}

.footer {
  border: 2px solid black;
  background-color: black;
  color: white;
  grid-area: footer;
  text-align: center;
}
