.App {
  background-color: #66b2b2;
  font-family: "PT Sans", sans-serif;
  display: grid;
  grid-template-rows: 0.08fr 0.05fr 3.5fr 0.08fr;
  grid-template-areas:
    "header header"
    "nav nav"
    "main main"
    "footer footer";
}

.content {
  width: 100vw;
}

@media only screen and (max-width: 600px) {
  .articles {
    width: 100%;
  }
}

h1 {
  font-size: 30px;
}

.logged-in {
  text-align: right;
}

.main-heading {
  text-align: center;
  font-size: 40px;
}

.login {
  border: 4px solid black;
  border-radius: 20px;
  background-color: white;
  justify-content: center;
  padding: 10px;
  display: block;
  margin: auto;
  width: 70%;
}

.header {
  border: 2px solid;
  background-color: white;
  grid-area: header;
  text-align: left;
}

.topic-cat {
  color: black;
  grid-area: topic;
  padding: 0px 20px;
}

a {
  text-decoration: none;
}

a:link {
  color: black;
}

a:visited {
  color: maroon;
}

a:hover {
  color: purple;
}

a:active {
  color: purple;
}

.nav {
  border: black 2px solid;
  padding: 5px;
  background-color: black;
  color: white;
  grid-area: nav;
  text-align: center;
  height: 30px;
}

.nav a:link {
  color: white;
}
.nav a:visited {
  color: white;
}

.nav a:hover {
  color: purple;
}

.nav a:active {
  color: white;
}

.header a:visited {
  color: black;
}

.articles {
  border: 3px solid black;

  background-color: white;
  width: 70%;
  min-width: 600px;
  border-radius: 15px;
  grid-area: main;
  padding: 10px;
  margin: 10px auto;
}

.one-article-stub {
  text-align: center;
  margin: 0px auto;
  min-height: 130px;
  display: grid;
  grid-template-columns: 30% 50% 20%;
  grid-template-rows: 10% 10% 60% 20%;
  grid-template:
    "votes meta ."
    "votes title ."
    ". body ."
    "comments . .";
}

.article-stub {
  text-align: center;
  margin: 0px auto;
  min-height: 130px;
  display: grid;
  grid-template-columns: 30% 50% 20%;
  grid-template-rows: 10% 10% 60% 20%;
  grid-template:
    "votes meta topic"
    "votes title ."
    ". body ."
    "comments . .";
}

.article-comments {
  grid-area: comments;
  width: 70%;
}

.article-body {
  font-family: "PT Sans", sans-serif;
  text-align: justify;
  padding: 10px 50px;
  width: 70%;
  margin: auto;
  grid-area: body;
}

.article-title {
  /* display: inline-block; */
  font-size: 22px;
  vertical-align: top;
  text-align: center;
  width: 70%;
  margin: auto;
  grid-area: title;
}

.comments {
  border: 4px solid black;
  width: 70%;
  border-radius: 15px;
  padding: 10px;
  margin: 10px auto;
  background-color: white;
}

.tiny-avatar {
  height: 25px;
  width: 25px;
  border-radius: 5px;
  border: 2px solid black;
}

.postarticle {
  background-color: white;
  padding: 10px;
  margin: 10px auto;
  text-align: center;
  border: 4px solid black;
  width: 50%;
  border-radius: 15px;
}
.meta-info {
  color: grey;
  text-align: center;
  /* text-decoration: underline; */
  grid-area: meta;
  font-style: italic;
  padding: 2px 8px;
}
.select-button {
  padding: 10px;
  margin: 10px;
}

.votes {
  height: 5px;
  padding: 10px 10px;
  margin: 10px;
  grid-area: votes;
}

.submit-button {
  height: 20px;
  width: 30px;
  border-radius: 5px;
}

.submit-button:hover {
  transform: scale(1.25);
}

.upvote:hover {
  transform: scale(1.25);
}

.downvote:hover {
  transform: scale(1.25);
}

.logout:hover {
  transform: scale(1.15);
}
.container {
  text-align: center;
  background-color: white;
  height: 100vh;
}
.not-found {
  background-color: white;
  height: 300px;
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
  text-align: center;
}
.title-input {
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  width: 80%;
}

.username-input {
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  /* width: 30%; */
}

.password-input {
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}
.fas fa-pen-square {
  height: 20px;
}

.body-input {
  border-radius: 10px;
  height: 100px;
  width: 80%;
  padding: 10px;
}
.userprofile {
  background-color: white;
  border-radius: 15px;
  border: 4px solid black;
  margin: 20px auto;
  padding: 20px;
  width: 60%;
}

.profile-pic {
  border: 4px solid black;
  border-radius: 15px;
}

.footer {
  border: 2px solid black;
  background-color: black;
  color: white;
  grid-area: footer;
  text-align: center;
  height: 30px;
}

.footer a:link {
  color: white;
}
.footer a:visited {
  color: white;
}

.footer a:hover {
  color: purple;
}

.footer a:active {
  color: white;
}
